<span class = "unfollow-button">
  <%= link_to "Unfollow", following_path(Following.find_or_create_by(followed_user_id: user.id, follower_id: current_user.id), id: user.id), class: "link-color"%>
</span>