<main class = "site-content">
  <div class = "container">
    <h1>Favorites</h1>
    <%@favorites.each do |favorite| %>
      <h4><%=link_to favorite.project.title,  project_path(favorite.project)%></h4>
      <%=favorite.project.description%>
    <%end%>
  </div>
</main>