<%= render partial: 'shared/navbar_opaque' %>
<h1 class="text-center">Your Favorites</h1>

<main class = "Site-content">
  <div class="container panel-body">
        <% @favorites.each do |favorite| %>
        <%= render "/projects/index_show", project: favorite.project %>
        <% end %>
      </div>
</main>
