<div class="projects-index">

  <%= render partial: 'shared/navbar_transparent' %>

<main class = "Site-content">

  <div class="container panel-body">
        <% @favorites.each do |favorite| %> 
        <%= render partial: "/projects/index_show", locals: { project: favorite.project } %>
        <% end %>
      </div>
   
</main>
</div>
