<main class="Site-content">
  <div class= "container">
<div id = "whole-inbox-page">
    <div class="col-xs-6 col-md-4">
      <h1 class="message-category-1">inbox</h1>
      <ul class="list-group inbox">
        <% @conversations.each do |conversation| %>
        <li class="list-group-item">
          <% if conversation.receiver == current_user %>
            <%= link_to conversation.sender.visible_name, inbox_messages_show_path(conversation)  %>
          <% else %>
            <%= link_to conversation.receiver.visible_name, inbox_messages_show_path(conversation)  %>
          <% end %>
        <span class="badge"><%=conversation.messages.length%></span></li>

        <% end %>
      </ul>
    </div>

    <div class="col-xs-12 col-md-8" id= "inbox-div">
    </div>
</div>
  </div>
</main>