<div class="panel panel-default panel-body user-white-box">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <img src= <%= user.img %> class = "user-img"/>
</div>
<div class="col-sm-6 col-md-6">
    <h3><%= link_to user.visible_name, user_path(user) %></h3>
    <h4><%=user.role %></h4>
    <p><%= user.bio %></p>
</div>
</div>
</div>
