<main class="Site-content">
  <div class="container">

    <h1>users</h1>

    <h2>Developers</h2>
    <div class="row">
    <% @developers.each do |developer| %>
     <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img style= "width:200px; height: 200px" src= <%= developer.img %> class = "user-img"/>
        <div class="caption">
        <p><%= link_to developer.visible_name, user_path(developer) %></p>
      </div>
    </div>
  </div>

    <% end %>
    </div>

    <h2>Designers</h2>
    <div class="row">
    <% @designers.each do |designer| %>
     <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img style= "width:200px; height: 200px" src= <%= designer.img %> class = "user-img"/>
        <%= link_to designer.visible_name, user_path(designer) %>
      </div>
    </div>

    <% end %>
  </div>

  </div>
</main>
