<main class="Site-content">
  <div class="container panel-body">
    <div class="col-md-12 container-fluid row">

      <div class="container col-md-5">

        <div class="panel panel-default panel-body categories">
          <h3 class= "#developers"><a class = "user-sort-button" href= "#">developers</a></h3>
          <h3 class ="#designers"><a class = "user-sort-button" href= "#">designers</a></h3>
        </div>
      </div>


      <div class="row container-fluid col-md-6 sorted-users-list">

        <div id="developers" class= "sorted-users active">
          <% @developers.each do |developer| %>
            <%= render '/users/index_show', user: developer %>
          <% end %>
        </div>

      <div id="designers" class= "sorted-users hidden">
        <% @designers.each do |designer| %>
        <%= render '/users/index_show', user: designer %>
        <% end %>
      </div>
    </div>
  </div>

  </div>
</main>
