<div id = "new-skill-form">
  <%= form_for @skill do |f| %>
   <%= f.text_field :body, autofocus: true, placeholder: "new skill" %>

   <%= f.hidden_field :user_id, value: current_user.id %>
   <%= f.submit %>
  <%end%>
</div>