<%= render partial: 'shared/navbar_opaque' %>
<main class = "Site-content">
  <div class = "container">
    <h1>Users with '<%=@skill.body%>' skills </h1>
    <ul><% @skill.users.each do |user| %>
      <li><%= link_to user.visible_name, user_path(user) %><br>
        <%= user.role %>
      </ul>


    <% end %>
  </div>
</main>
