<main class = "Site-content">
  <div class = "container">
    <h1>Users with '<%=@skill.body%>' skills </h1>
    <% @skill.users.each do |user| %>
    <div class="col-md-3">
      <%= render '/users/index_show', layout: false, user: user %>
    </div>
    <% end %>
  </div>
</main>
