<div id="designers" class="sorted-projects">

    <h1 class = "project-category-1">POSTED by DESIGNERS</h1>

  <% posted_by_designers.each do |project| %>
    <%= render partial: "index_show", locals: { project: project } %>
    <div class="divider">
         </div>
  <% end %>
</div>
