<div id="designers" class="sorted-projects">
  <% posted_by_designers.each do |project| %>
    <%= render partial: "index_test", locals: { project: project } %>
    <div class="divider">
         </div>
  <% end %>
</div>
