<div id="developers" class= "sorted-projects">
  <% posted_by_developers.each do |project| %>
    <%= render partial: "index_show", locals: { project: project } %>
    <div class="divider">
         </div>
  <% end %>
</div>
