<div id="developers" class= "sorted-projects">
  <div class="panel panel-default">
    <h1 class = "title">Projects Posted By Developers</h1>
  </div>
  <% posted_by_developers.each do |project| %>
    <%= render partial: "index_show", locals: { project: project } %>
  <% end %>
</div>
