<div id="expiring" class= "sorted-projects">
  <div class="col-md-6">
  <% expiring_soon[0...expiring_soon.length/2].each do |project| %>
    <%= render partial: "index_show", locals: { project: project } %>
   <% end %>
 </div>

 <div class="col-md-6">
 <% expiring_soon[expiring_soon.length/2..-1].each do |project| %>
   <%= render partial: "index_show", locals: { project: project } %>
  <% end %>
</div>
</div>

<div class="spacer"></div>
