<div id="expiring" class= "sorted-projects">
  <% expiring_soon.each do |project| %>
    <%= render partial: "index_show", locals: { project: project } %>
    <div class="divider">
         </div>
   <% end %>
</div>
