<div id="expiring" class= "sorted-projects">
  <div class="panel panel-default">
    <h1 class = "title">Projects Expiring Soon</h1>
  </div>
  <% expiring_soon.each do |project| %>
    <%= render partial: "index_show", locals: { project: project } %>
   <% end %>
</div>
