<div id="recent" class="sorted-projects">
  <span id= "recent-projects">

   <% most_recent.each do |project| %>

      <%= render partial: "index_test", locals: { project: project } %>
<<<<<<< e9e2e8f37a67d51f124ffb29b4962f303b7eb6f8

      </div>


=======
>>>>>>> fix appending to new grid
   <%end%>

  </span>
</div>



