<div id="recent" class="sorted-projects">
  <span id= "recent-projects">

   <% most_recent.each do |project| %>
      <%= render partial: "index_test", locals: { project: project } %>
      </div>
   <%end%>

  </span>
</div>



