<div class="col-md-2 search">
  <form id= "search-form" class="input-group" action="/search" method="post">
    <input id= "search-field" type="text" name="body" class="form-control" placeholder= "search by tag">
    <span class="input-group-btn">
      <input type= "submit" class="btn btn-default", value= "&#9903;"></button>
    </span>
  </form>
</div>

