<% if @not_ajax %>
  <%= render partial: 'shared/navbar_transparent' %>
<% end %>

<main class= "Site-content"
  <div class= "container">
    <div class="panel panel-default panel-body sorted-projects">
        <h1>Projects with #<%=@tag.body%></h1>
        <% @projects.each do |project| %>
          <%= render "projects/index_show", project: project %>
        <% end %>
      </div>
  </div>
</main>

