<main class= "Site-content"
<div class= "container"
  <h1>#<%=@tag.body%></h1>
  <% @projects.each do |project| %>
    <%= render "projects/index_show", project: project %>
  <% end %>
</div>
</main>

