<main class = "site-content">
  <div class = "container">
    <h1>#<%=@tag.body%></h1>
    <ul><% @tag.projects.each do |project| %>
      <li><%= link_to project.title, project_path(project) %><br>
      </ul>


    <% end %>
  </div>
</main>