.custom-jumbotron {
  // background: asset-data-url('water_photo.jpeg');
  // background-image: image-url('computer_green.jpg');
  background-image: image-url('white-devs-dess.jpg');
  background-size: cover !important;
  background-position: center;
  height: auto;
}

.jumbotron-inner-container {
  // background-color: rgba(255, 255, 255, 0.3);
  padding: 15% 3% 15% 3%;
  text-align: center;
}

.jumbotron-inner-container h1 {
  font-size: 2em;
  border: 6px solid white;
  padding: 5%;
  width: 30%;
  margin: auto;
  color: white;
  // background-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(211, 211, 211, 0.2);
}
