.custom-jumbotron {
  // background: asset-data-url('water_photo.jpeg');
  // background-image: image-url('computer_green.jpg');
  background-image: image-url('white-devs-dess.jpg');
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
  height: auto;
  margin-top: -60px;
  padding-bottom: 60px;
}
.jumbotron-inner-container {
  // background-color: rgba(255, 255, 255, 0.3);
  padding: 20% 3% 15% 3%;
  text-align: center;
}
.jumbotron-inner-container h1 {
  font-size: 2em;
  border: 6px solid white;
  padding: 5%;
  width: 30%;
  margin: auto;
  color: white;
  // background-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(211, 211, 211, 0.2);
}
.custom-transparent {
  background-color: rgba(211, 211, 211, 0.2);
  border-bottom: 6px solid white;
}
.custom-transparent a {
  color: white;
}
.custom-transparent a:visited {
  color: white;
}
