.custom-jumbotron {
  background-image: image-url('man.jpeg');
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
  height: auto;
  margin-top: -60px;
  padding-bottom: 60px;
}
.jumbotron-inner-container {
  padding: 20% 3% 15% 3%;
  text-align: center;
}
.jumbotron-inner-container h1 {
  font-size: 2em;
  border: 6px solid #FF8A7A;
  padding: 5%;
  width: 30%;
  margin: auto;
  color: #FF8A7A;
  background-color: rgba(211, 211, 211, 0.2);
}

h2 > a {
  position: relative;
  color: #fff;
  text-decoration: none;
}

h2 > a:hover {
  color: #fff;
}
.frontnav >li > a:hover{
  background-color:transparent;
}

.frontnav  li> a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.frontnav li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#intro{
  padding-top: 20%;
  text-align:center;
  padding-bottom: 20%;
}
#arrow a{
left:45%;
position:absolute;
bottom:30px;

  color:#333;

    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}

}
