.img-container {
    width: 100%;
    height: 25%;
    overflow: hidden;
}

.img-container img {
    height: 220px;
}

.img-container-small {
  overflow: hidden;
  padding: 10px;
}

.img-container-small img {
  height: 150px;
}

.heart {
  width: 25px;
}
