.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.Site-content {
  flex: 1;
}
body {
  background-image: image-url('wood-planks.jpg');
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
}
.navbar-default {
  margin-bottom: 0;
}
.custom-header {
  background-color: rgba(187, 79, 34, 0.4);
  padding: 250px 0 250px 0;
  margin: 0;
}
footer {
    color: #666;
    padding: 19px 0 30px 0;
    border-top: 1px solid #d3d3d3;
    background-color: white;
}
footer a {
    color: #999;
}
footer a:hover {
    color: #BB4F22;
    text-decoration: none;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0 2%;
}
footer ul li {
  display: inline-block;
  padding: 0 3%;
}
