.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.Site-content {
background-image:image-url("man.jpeg");
background-position:center;
  flex: 1;
}
body {
background-image:image-url("man.jpeg");
background-position:center;
}
main {
  background-color: white;
}
.container {
  margin-top: 3%;
  margin-bottom: 3%;
}
.navbar-default {
  margin-bottom: 0;
}
.button-container {
  margin: 5%;
  margin-top: 30%;
}
.custom-button {
  width: 300px;
  margin-left: 5%;
  padding: 10px 30px;
  margin: 3%;
  height: 50px;
  font-size: large;
}
.small-custom {
  width: 200px;
  padding: 5px;
  font-size: medium;
  margin: 2% 0;
}
.form-control {
  margin: 0;
  padding: 10px;
  width: 100%;
}
footer {
  color: #666;
  padding: 19px 0 30px 0;
  border-top: 1px solid #d3d3d3;
  background-color: #51FFC2;
}
footer a {
  color: white;
  font-style: bold;
  font-size: medium;
}
footer a:hover {
  color: #BB4F22;
  text-decoration: none;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0 2%;
}
footer ul li {
  display: inline-block;
  padding: 0 3%;
}

.main{
   background-image: image-url('bg-nav.jpg');
   color: #fff;
}

.main a{
  color: #fff;
}



.projects-container{
  margin-top:5%;
  background-color: #F3F9FC;
}

.frontnav{
  border-bottom: 3px solid #C5E9FF;
}
.frontnav a{
  color: #474747;
  font-size:1.5em;
}


.frontnav a:before{
    background-color: #474747;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

 .frontnav > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
