.message-body{
  padding:1em;
}

.form-control-inline{
  width:150px;
}

ul{
  padding-left: 0;
}

.message-category-1{
margin-left:-10%;
margin-bottom: 5%;
margin-top:5%;
  color: #333;
  text-align:center;
  border: 5px solid #333;
  font-size: 1.2em;
  width:7.5em;
  padding:2%;
}

.message-category-2{
margin: 0 auto;
margin-bottom: 5%;
margin-top:5%;
  color: #333;
  text-align:center;
  border: 5px solid #333;
  font-size: 1.8em;
  width:10em;
  padding:2%;
}
.inbox{
  margin-left:-30%;
  width:70%;
}

.message-field{
  margin-bottom:15%;
}

.message-body{
  font-size:1.2em;
}
