.message-body{
  padding:1em;

}

.form-control-inline{
  width:150px;
}

ul{
  padding-left: 0;
}

.message-category-1{
margin-left:-10%;
margin-bottom: 5%;
margin-top:5%;
  color: #FF8A7A;
  text-align:center;
  background-color: #fff;
  border: 2px solid #FF8A7A;
  font-size: 1.2em;
  width:7.5em;
  padding:2%;
}

.message-category-2{
margin: 0 auto;
margin-bottom: 5%;
margin-top:5%;
  color: #7DC7F2;
  text-align:center;
  font-size: 1.8em;
  width:10em;
  padding:2%;
}

.message-category-2 a{
  color: #7DC7F2;
}
.inbox{
  margin-left:-30%;
  width:70%;
}

.message-field{
  margin-bottom:15%;
}

.message-body{
  font-size:1.2em;
}

.messages{
  border: 2px solid #7DC7F2;
}
.sender {
  background-color:rgba(212,233, 255, 0.2);
}

.receiver{
  background-color:rgba(235,235,235, 0.2);
}

.chat-button{
  color: #fff;
}

.chat-button a{
  color: #fff;
}