// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sorted-projects-list {
  margin-left: 4%;
  margin-top: 3%;
}
.custom-project-header {
  margin-top: 0;
}
.custom-project-header a {
  color: #FF675A;
}
.project-img {
  width: 500px;
  height:auto;
}
.projects-index {
  font-family: 'Alegreya', serif;
}
.project-white-box {
  border:0;
  box-shadow:none;
  background-color: #F3F9FC;
}
.project-white-box #title a {
  color: #393A3B;
  transition: color 0.5s ease;
}
.project-white-box h4{
  color: #3C3B3D;
}
.project-white-box h5 a{
  color: #303030;
}
.project-white-box a:hover {
  color: #0DFFCC;
}
.strong-projects {
  border: 2px solid #FF8A7A;
  background-color: #fff;
  color: #3C3B3D;
  margin-bottom: 9%;
}

.project-category-1{
  margin: 0 auto;
  // background-color: #7A3EAB;
  color:#fff;
  text-align:center;
  border: 3px solid;
  border-radius:10px;

  font-size: 2em;
  font-weight:bold;
  width:15em;
  padding-top:3%;
  padding-bottom:3%;
}
.project-category-2{
  margin: 0 auto;
  // color: #AB0A0F;
  text-align:center;
 // border: 3px solid #8E9C9A;
  font-size: 1.5em;
  width:8.5em;
  padding:3%;
}
.project-category-3{
  margin-top:10%;
  margin: 0 auto;
  text-align:center;
  border: 3px solid #80C4AE;
  background-color: #D3F2DD;
  font-size: 1.5em;
  width:8.5em;
  padding:3%;
}
.categories{
  border:0;
  box-shadow:none;
  position:fixed;
  margin-top:2%;
  background-color:transparent;
}


.categories a{
color: #8E8F91;
  margin-bottom:15%;
  font-size:1.2em;
}

.search{
  border:0;
  box-shadow:none;
  margin-left:-2%;
  margin-top: 2%;
}
#proj-form{
  width:50%;

}
.proj{
  border: 5px solid #C5E9FF;
  height:200px;
}


.logo{
  animation: fadeIn 2s;
}

.text-justify {
  text-align: justify;
}
.no-margin {
  padding-left: 0;
  padding-right: 0;
}
.top-padded {
  padding-top: 3%;
  padding-right: 2px;
  text-align: right;
}
.spacer {
  height: 600px;
  width: 100%;
}

.tag-submit{
  background-color: #7DC7F2;
  color: #fff;
  font-weight: bold;
}