// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-img {
  width: 500px;
  height:auto;
}

.projects-index {
font-family: 'Alegreya', serif;

}

.project-white-box {
  border:0;
  box-shadow:none;
  background-color: #BEFFF3;
}
.project-white-box a {
  color: #AB0A0F;
  transition: color 0.5s ease;
}
.project-white-box a:hover {
  color: #0DFFCC;
}
.strong-white {
  background-color: #BEFFF3;
  color: #333;
}

.divider{
  width:200px;
  margin:0 auto;
  border-bottom: 1px solid #8F080C;
}

.categories{
  border:0;
  box-shadow:none;
   position:fixed;
   margin-top:10%;
   font-family: 'Alegreya', serif;

}
.categories a{
 color: #AB0A0F;
  margin-bottom:15%;
  font-size:1.5em;
}

.search{
 border:0;
  box-shadow:none;
  margin-left:-2%;
  margin-top: 2%;

}
#proj-form{
  width:50%;
}

