// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-img {
  width: 500px;
  height:auto;
}

.projects-index {
font-family: 'Alegreya', serif;

}

.project-white-box {
  border:0;
  box-shadow:none;
  background-color: #F3F9FC;
}
.project-white-box #title a {
  color: #393A3B;
  transition: color 0.5s ease;
}

.project-white-box h4{
  color: #393A3B;
}
.project-white-box h5 a{
  color: #303030;
}
.project-white-box a:hover {
  color: #0DFFCC;
}
.strong-projects {
  background-color: #F3F9FC;
  color: #333;
}

.divider{
  width:200px;
  margin:0 auto;
  border-bottom: 1px solid #8F080C;
}

.categories{
  border:0;
  box-shadow:none;
   position:fixed;
   margin-top:10%;

   background-color:transparent;

}
.categories a{
 color: #5D86B5;
  margin-bottom:15%;
  font-size:1.5em;

}

.search{
 border:0;
  box-shadow:none;
  margin-left:-2%;
  margin-top: 2%;

}
#proj-form{
  width:50%;
}

.proj{
  border: 5px solid #C5E9FF;
  height:200px;

}



