.reports-index {
  background-image: image-url('wood-planks.jpg');
  background-size: cover !important;
  background-position: center;
  background-attachment: fixed;
}

.small-box {
  min-height: 650px;
}



