// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-img {
  width: 200px;
  height: auto;
}
.user-index {
  font-family: 'Lato', sans-serif;
}
.custom-user-header {
  padding-top: 0;
}

.custom-user-header a {

  color: #FF8A7A
}
.no-left {
  padding-left: 0;
}
.link-color {
  color: #FF675A;
}
.padding-bottom {
  padding-bottom: 3%;
}

