// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-img {
  width: 200px;
  height: auto;
}
.user-index {
font-family: 'Lato', sans-serif;
}
.user-white-box {
  border: 6px solid #333;
  background-color: #fff;
  padding-top: 4%;
  padding-bottom:4%;
}
.user-white-box a {
  color: #333;
  transition: color 0.5s ease;
}
.user-white-box a:hover {
  color: #0DFFCC;
}
.user-white-box h3 {
  margin-top: 0;
}
.strong-user {
  background-color: #fff;
  color: #333;
}

.user-category-1{

margin: 0 auto;
margin-bottom: 5%;
margin-top:5%;
  color: #333;
  text-align:center;
  border: 5px solid #333;
  font-size: 1.5em;
  width:7.5em;
  padding:2%;
}
