
<div class="Site-content">
  <div class="container">
    <div id="intro">
      <img src="http://content.hollywire.com/sites/default/files/2016/02/26/spice-girls-then.jpg"/>
    <h3>MakeTogether is a social media platform that facilitates productive, creative collaboration between designers and developers</h3>
  <p>The minds behind MakeTogether are four female developers hungry for projects and eager to meet like-minded professionals. </p>
  <p>We thrive on passionate, creative energy, and encourage a respectful, productive environment</p>
</div>
  </div>
</div>
