<div class="container">

  <div class="row col-md-12 panel panel-default" id="intro">
    <%= image_tag "LOGO.png", class:"img-reponsive logo"%>
    <div class="container">

      <h1>MakeTogether<br> is for <i>web developers</i> and <i>web designers</i>.</h1>
    </div>
    <h2>It's a social media platform<br>that supports creative collaboration.<br><br>
    We thrive on <i>passionate, creative</i> energy,<br>
    and encourage <i>respectful, productive</i> environments.</h2>
  </div>
</div>

<div class="container" id="intro-second">
  <div class="row col-md-12 container">
    <div class="panel-body text-center">
      <a href="http://make-together.herokuapp.com/creators"><h1>Meet the Creators of MakeTogether</h1></a>
    </div>
  </div>

  <div class="row col-md-12">
    <div class="col-md-3">
      <div class="panel-body panel-default panel">
        <div class="col-md-12">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAgtAAAAJDZlYzAxN2E3LTVlMjEtNDUyYy04NWExLWQ5M2I5ZjdmNTU3NA.jpg" class="img-responsive img-thumbnail">
        </div>
        <div class="col-md-12 text-center">
          <a href="https://github.com/mindplace"><h2>Esther</h2></a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel-body panel-default panel">
        <div class="col-md-12">
          <img src="https://avatars1.githubusercontent.com/u/16512986?v=3&s=460" class="img-responsive img-thumbnail">
        </div>
        <div class="col-md-12 text-center">
          <a href="https://github.com/samanthavholmes"><h2>Samantha</h2></a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel-body panel-default panel">
        <div class="col-md-12">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/000/27d/045/11a0c0a.jpg" class="img-responsive img-thumbnail">
        </div>
        <div class="col-md-12 text-center">
          <a href="https://github.com/LisaBee224"><h2>Lisa</h2></a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel-body panel-default panel">
        <div class="col-md-12">
          <img src="https://avatars2.githubusercontent.com/u/17014974?v=3&s=460" class="img-responsive img-thumbnail">
        </div>
        <div class="col-md-12 text-center">
          <a href="https://github.com/samanthavholmes"><h2>Caitlin</h2></a>
        </div>
      </div>
    </div>
  </div>
</div>
