<%= render partial: 'shared/navbar_opaque' %>
<div class="Site-content">
  <div class="container">
    <h3>To add to this page:</h3>
    <ul>
      <li>cool info about us</li>
    </ul>
  </div>
</div>
