<main class="Site-content">
  <div class="container">

    <div class="row">
      <div class="row panel-body col-md-12 marginalized">
        <h1 class="panel-body">We are Dev Bootcamp graduates.</h1>
        <div class="panel-body">
          <h4>We code for fun and profit, run on coffee, and thrive on shipping.</h4>
          <h4>We want to work for you. <%= link_to "Reach out.", "https://github.com/mindplace/make-together/blob/master/hire.md" %></h4><br>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-2">
          <div class="panel panel-default panel-body img-box">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAgtAAAAJDZlYzAxN2E3LTVlMjEtNDUyYy04NWExLWQ5M2I5ZjdmNTU3NA.jpg" class="img-responsive">
          </div>
        </div>

        <div class="col-md-10">
          <div class="panel panel-default panel-body creators-box">
            <div class="col-md-5">
              <a href="https://github.com/mindplace"><h2 class="thin-header text-center">Esther Leytush</h2></a>
            </div>
            <div class="col-md-7">
              <p>Esther loves Ruby, algorithms, and all things back-end.<br>She's working on her JavaScript skills because being able to<br>see a product from start to finish makes her happy.<br>The next thing she wants to learn is Go.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-2">
          <div class="panel panel-default panel-body img-box">
            <img src="https://avatars1.githubusercontent.com/u/16512986?v=3&s=460" class="img-responsive">
          </div>
        </div>

        <div class="col-md-10">
          <div class="panel panel-default panel-body creators-box">
            <div class="col-md-5">
              <a href="https://github.com/samanthavholmes"><h2 class="thin-header text-center" class="thin-header">Samantha Holmes</h2></a>
            </div>
            <div class="col-md-7">
              <p>Sam loves Ruby on Rails, especially the back-end.<br>She learns fast and is a calm,  reliable, and thoroughly engaged teammate and pair partner.<br>After Dev Bootcamp she is continuing to work on fullstack development projects.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-2">
          <div class="panel panel-default panel-body img-box">
            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAkVAAAAJGQwODY3MWNhLTE3NWQtNGE0MS04ZTQ1LWFlMDViYjk3MTlkZQ.jpg" class="img-responsive">
          </div>
        </div>

        <div class="col-md-10">
          <div class="panel panel-default panel-body creators-box">
            <div class="col-md-5">
              <a href="https://github.com/LisaBee224"><h2 class="thin-header text-center">Lisa Buch</h2></a>
            </div>
            <div class="col-md-7">
              <br><p>Lisa used to prefer front-end but has become a back-end convert.<br>She's been developing her skills as a well-rounded fullstack developer.<br>She spends her time doing CDD (Coffee-Driven Development).</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row col-md-12">
        <div class="col-md-2">
          <div class="panel panel-default panel-body">
            <img src="https://avatars2.githubusercontent.com/u/17014974?v=3&s=460" class="img-responsive">
          </div>
        </div>

        <div class="col-md-10">
          <div class="panel panel-default panel-body creators-box">
            <div class="col-md-5">
              <a href="https://github.com/choff999"><h2 class="thin-header text-center">Caitlin Hoffman</h2></a>
            </div>
            <div class="col-md-7">
              <p>Caitlin is passionate about code, especially the front-end.<br>She found learning back-end programming at Dev Bootcamp<br>to be challenging and enjoyable.<br>After Dev Bootcamp she's been focusing on iOS development.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
