<%= render partial: 'shared/navbar_opaque' %>
<div class="Site-content">
  <div class="container">
  <h3> Meet the Creators! </h3>
    <img src= <%= pic of us %> >

    <div class="row container-fluid">
    <div class="panel-body col-md-12">
      <div class= "col-md-2">
      <img src= <%= image of esther %> >
    </div>
    <div class="col-md-2">
      <h3>Esther Leytush </h3>
    </div>
    <div class="col-md-8">
      <p>Paragraph about Esther</p>
    </div>
    </div>
    </div> 
  
  </div>
</div>
