<div class="Site-content">
  
  
<div class="custom-jumbotron">
  <div class="jumbotron-inner-container">
    <h1>Make Together</h1>
    
    <p><a class="btn btn-primary btn-lg">About Us</a></p>
  </div>
</div>
</div>
