<div class="Site-content">
<div class="custom-jumbotron">
  <div class="jumbotron-inner-container">
    <h1>MAKE TOGETHER</h1>
    <h3 id="arrow"><a href="intro">   &#8711;</a> </h3>
  </div>
</div>

<%= render partial: 'creators' %>
</div>
