<div class="Site-content">
  <div class="container">
    <h1>MakeTogether</h1>
    <h3>To add to this page:</h3>
    <ul>
      <li>jumbotron image with MakeTogether on it</li>
      <li>About us section</li>
      <li>Blurb about the project</li>
    </ul>
  </div>
</div>
