<p id= "review<%=review.id%>"><%review.rating.times do %> &#9734; <%end%> | <%=review.body.capitalize%> |
<% if review.reviewer == current_user %>
    <span class="edit-review-link"><%= link_to 'edit', edit_review_path(review)%></span>
<% end %></p>