<p id= "review<%=review.id%>"><%review.rating.times do %> &#9734; <%end%> | <%=link_to  review.reviewer.visible_name, user_path(review.reviewer) %> <% if review.reviewer == current_user %>
    <span class="edit-review-link">| <%= link_to 'edit', edit_review_path(review)%></span>
<% end %></p>
<p><%=review.body.capitalize%> </p>
