
  <div class="reports-index">
<main class="Site-content">



<%= render partial: 'shared/navbar_transparent' %>
  <div class="container small-box">
    

    <%= render 'form' %>

  </div>

</main>
</div>

